<h1>Your Library</h1>

<ul><% @books.each do |book| %>
  <li><%= book.title %> - <%= book.topic.name %>
  <ul><% book.authors.each do |author| %>
    <li><%= author.name %></li>
  <% end %></ul>
  <p>Location: </p>
  <p>Room: <%= book.case.room.name %> - Case: <%= book.case.name %> - Shelf: <%= book.shelf_id %></p>
  </li>
<% end %></ul>

<br>
<a href="/lib/new">Add More Books</a><br>
<a href="/logout">Log Out</a>
