<h1>Start building your library!</h1>

<form action="/lib" method="post">

  <!--book-->
  <h3>Create A Book</h3>
  <label for="book_title">Title: </label>
  <input type="text" name="book[title]" id="book_title"><br>

  <%= '<p>Select Author(s)</p>' if !@authors.empty? %>
  <% @authors.each do |author| %>
    <input type="checkbox" name="book[author_ids]" value="<%= author.id %>" id="author_<%= author.id %>">
    <label for="author_<%= author.id %>"><%= author.name %></label><br>
  <% end %>
  <br><br>
  <%= '<p>Or Create a New Author</p>' if !@authors.empty? %>
  <label for="book_author">Author Name: </label>
  <input type="text" name="author[name]" id="book_authors"><br>

  <%= '<p>Select a Topic</p>' if !@topics.empty? %>
  <% @topics.each do |topic| %>
    <input type="radio" name="book[topic_id]" value="<%= topic.id %>" id="topic_<%= topic.id %>">
    <label for="topic_<%= topic.id %>"><%= topic.name %></label><br>
  <% end %>
  <br><br>
  <%= '<p>Or Create a New Topic</p><br>' if !@topics.empty? %>
  <label for="book_topic">Topic: </label>
  <input type="text" name="topic[name]" id="book_topic"><br>

  <h3>Select or Create Location</h3>
  <!--case-->
  <%= '<p>Select Your Case</p>' if !@cases.empty? %>
  <% @cases.each do |bookcase| %>
    <input type="radio" name="book[case_id]" value="<%= bookcase.id %>" id="case_<%= bookcase.id %>">
    <label for="case_<%= bookcase.id %>">
    <%= bookcase.name %> (<%= bookcase.shelf_count %> shelves)</label><br>
  <% end %>
  <%= '<p>Or Create a New Case</p>' if !@cases.empty? %>
  <label for="book_shelf_id">Book's Shelf: </label>
  <input type="number" name="book[shelf_id]" placeholder="Shelf that book is on" id="book_shelf_id"><br>
  <label for="case_name">Case Name: </label>
  <input type="text" name="case[name]" id="case_name"><br>
  <label for="case_description">Description: </label>
  <input type="text" name="case[description]" placeholder="Optional" id="case_description"><br>
  <label for="case_shelf_count">Shelf Count: </label>
  <input type="number" name="case[shelf_count]" id="case_shelf_count"><br>

  <!--select room-->
  <%= '<p>Select the room that your case is located in</p>' if !@rooms.empty? %>
  <% @rooms.each do |room| %>
    <input type="radio" name="case[room_id]" value="<%= room.id %>" id="room_<%= room.id %>">
    <label for="room_<%= room.id %>"><%= room.name %></label>
  <% end %>
  <%= '<p>Or create new room</p>' if !@rooms.empty? %>
  <label for="room_name">Room Name: </label>
  <input type="text" name="room[name]" id="room_name">









  <!--room-->
  <!--<br><br>
  <%= '<p>Select Your Room</p>' if !@rooms.empty? %>
  <% @rooms.each do |room| %>
    <input type="radio" name="book[room_id]" value="<%= room.id %>" id="room_<%= room.id %>">
    <label for="room_<%= room.id %>"><%= room.name %></label><br>
  <% end %>
  <%= '<p>Or Create a New Room</p><br>' if !@rooms.empty? %>
  <label for="room_name">Room Name: </label>
  <input type="text" name="room[name]" id="room_name">-->

  <input type="submit" value="Create Book" id="submit">

</form>



<a href="/logout">Log Out</a>
