<style>

  #library, .room {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
  }

  #library {
    background: #ffffae;
  }

  .room {
    background: #a7d0a7;
  }

  h1 {
    padding: 10px
  }

  #subheader {
    padding-left: 10px;
  }

  .flex-container {
    display: flex;
  }

  a {
    color: black;
    text-decoration: none;
  }

</style>


<div id="library">
  <h1>The <%= @user.username %> Library</h1>
  <h4 id="subheader"><%= @user.rooms.count %> Room<%= 's' if @user.rooms.count != 1 %></h4>
  <div class="flex-container">
    <% @rooms.each do |room| %>
      <a href="/lib/room/<%= room.id %>"><div class="room">
        <h3><%= room.name %></h3>
        <p><%= room.cases.count %> Cases</p>
      </div></a>
    <% end %>
  </div>
</div>
