<style>

  #library, .room {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
  }

  #library {
    background: #ffffae;
  }

  .room {
    background: #a7d0a7;
  }

  h1 {
    padding: 10px
  }

  #subheader {
    padding-left: 10px;
  }

  .flex-container {
    display: flex;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a.nav_link:link {
    color: #999;
    text-decoration: none;
    font-weight: bold;
  }
  a.nav_link:visited {
    color: #999;
  }
  a.nav_link:hover {
    color:black;
  }

</style>


<div id="library">
  <h1>The <%= @user.username %> Library</h1>
  <h4 id="subheader"><%= @user.rooms.count %> Room<%= 's' if @user.rooms.count != 1 %></h4>
  <div class="flex-container">
    <% @rooms.each do |room| %>
      <a href="/lib/room/<%= room.id %>"><div class="room">
        <h3><%= room.name %></h3>
        <p><%= room.cases.count %> Cases</p>
      </div></a>
    <% end %>
  </div>
</div>

<br><br>
<a href="/lib/new" class="nav_link">ADD MORE BOOKS</a>
<br><br>
<a href="/lib/show" class="nav_link">VIEW LIBRARY</a>
<br><br>
<a href="/logout" class="nav_link">LOG OUT</a>
